In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Visualización
# ------------------------------------------------------------------------------
import matplotlib.pyplot as plt
import seaborn as sns

# Evaluar linealidad de las relaciones entre las variables
# y la distribución de las variables
# ------------------------------------------------------------------------------
from scipy.stats import shapiro, kstest
import scipy.stats as stats
from scipy.stats import shapiro, poisson, chisquare, expon, kstest

# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Gestión de los warnings
# -----------------------------------------------------------------------
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_customer_flight_activity = pd.read_csv("Customer Flight Activity.csv")

df_customer_flight_activity.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [3]:
df_customer_flight_activity.shape

(405624, 10)

In [4]:
df_customer_flight_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [5]:
df_customer_flight_activity.isnull().sum() # no hay nulos

Loyalty Number                 0
Year                           0
Month                          0
Flights Booked                 0
Flights with Companions        0
Total Flights                  0
Distance                       0
Points Accumulated             0
Points Redeemed                0
Dollar Cost Points Redeemed    0
dtype: int64

In [6]:
df_customer_flight_activity.duplicated().sum()

1864

In [7]:
df_customer_flight_activity[df_customer_flight_activity.duplicated()] # -> veo algunas de las filas duplicadas

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
42,101902,2017,1,0,0,0,0,0.0,0,0
227,112142,2017,1,0,0,0,0,0.0,0,0
478,126100,2017,1,0,0,0,0,0.0,0,0
567,130331,2017,1,0,0,0,0,0.0,0,0
660,135421,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
404668,949628,2018,12,0,0,0,0,0.0,0,0
404884,960050,2018,12,0,0,0,0,0.0,0,0
405111,971370,2018,12,0,0,0,0,0.0,0,0
405410,988392,2018,12,0,0,0,0,0.0,0,0
405437,989528,2018,12,0,0,0,0,0.0,0,0

In [8]:
df_customer_flight_activity[df_customer_flight_activity.duplicated(keep=False)] # -> si quiero incluir la fila original además del duplicado

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
41,101902,2017,1,0,0,0,0,0.0,0,0
42,101902,2017,1,0,0,0,0,0.0,0,0
226,112142,2017,1,0,0,0,0,0.0,0,0
227,112142,2017,1,0,0,0,0,0.0,0,0
477,126100,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
405111,971370,2018,12,0,0,0,0,0.0,0,0
405409,988392,2018,12,0,0,0,0,0.0,0,0
405410,988392,2018,12,0,0,0,0,0.0,0,0
405436,989528,2018,12,0,0,0,0,0.0,0,0
405437,989528,2018,12,0,0,0,0,0.0,0,0

In [9]:
duplicados = df_customer_flight_activity[df_customer_flight_activity.duplicated()] # creo una variable para mostrar cuáles son los duplicados
duplicados

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
42,101902,2017,1,0,0,0,0,0.0,0,0
227,112142,2017,1,0,0,0,0,0.0,0,0
478,126100,2017,1,0,0,0,0,0.0,0,0
567,130331,2017,1,0,0,0,0,0.0,0,0
660,135421,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
404668,949628,2018,12,0,0,0,0,0.0,0,0
404884,960050,2018,12,0,0,0,0,0.0,0,0
405111,971370,2018,12,0,0,0,0,0.0,0,0
405410,988392,2018,12,0,0,0,0,0.0,0,0
405437,989528,2018,12,0,0,0,0,0.0,0,0

In [10]:
df_customer_flight_activity_no_duplicados = df_customer_flight_activity.drop_duplicates(keep='first') # Elimino las filas duplicadas y conservo la primera aparición de cada registro
df_customer_flight_activity_no_duplicados

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...
405619,999902,2018,12,0,0,0,0,0.0,0,0
405620,999911,2018,12,0,0,0,0,0.0,0,0
405621,999940,2018,12,3,0,3,1233,123.0,0,0
405622,999982,2018,12,0,0,0,0,0.0,0,0
405623,999986,2018,12,0,0,0,0,0.0,0,0

In [11]:
df_customer_flight_activity_no_duplicados.duplicated().sum() # Compruebo de que haya duplicados después de haberlos borrado

0

In [12]:
df_customer_flight_activity_definitivo = df_customer_flight_activity_no_duplicados # Cambio el nombre del DF para tener el inicial

In [13]:
df_customer_flight_activity_definitivo.duplicated().sum()

0

In [14]:
df_customer_flight_activity_definitivo.head()

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [15]:
df_customer_flight_activity_definitivo.info()

<class 'pandas.core.frame.DataFrame'>
Index: 403760 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               403760 non-null  int64
 1   Year                         403760 non-null  int64
 2   Month                        403760 non-null  int64
 3   Flights Booked               403760 non-null  int64
 4   Flights with Companions      403760 non-null  int64
 5   Total Flights                403760 non-null  int64
 6   Distance                     403760 non-null  int64
 7   Points Accumulated           403760 non-null  float64
 8   Points Redeemed              403760 non-null  int64
 9   Dollar Cost Points Redeemed  403760 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 33.9 MB

In [16]:
df_customer_flight_activity_definitivo.shape

(403760, 10)

In [17]:
df_customer_loyalty_history = pd.read_csv("Customer Loyalty History.csv")

df_customer_loyalty_history.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN

In [18]:
df_customer_loyalty_history.shape

(16737, 16)

In [19]:
df_customer_loyalty_history.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16737 entries, 0 to 16736
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Loyalty Number      16737 non-null  int64
 1   Country             16737 non-null  object
 2   Province            16737 non-null  object
 3   City                16737 non-null  object
 4   Postal Code         16737 non-null  object
 5   Gender              16737 non-null  object
 6   Education           16737 non-null  object
 7   Salary              12499 non-null  float64
 8   Marital Status      16737 non-null  object
 9   Loyalty Card        16737 non-null  object
 10  CLV                 16737 non-null  float64
 11  Enrollment Type     16737 non-null  object
 12  Enrollment Year     16737 non-null  int64
 13  Enrollment Month    16737 non-null  int64
 14  Cancellation Year   2067 non-null   float64
 15  Cancellation Month  2067 non-null   float64
dtypes: float64(4), int64(3), object(9)
memory usage: 2.0+ MB

In [20]:
df_customer_loyalty_history.isnull().sum() # Las columnas de Salary, Cancellation Year y Cancellation Month tienen valores nulos

Loyalty Number            0
Country                   0
Province                  0
City                      0
Postal Code               0
Gender                    0
Education                 0
Salary                 4238
Marital Status            0
Loyalty Card              0
CLV                       0
Enrollment Type           0
Enrollment Year           0
Enrollment Month          0
Cancellation Year     14670
Cancellation Month    14670
dtype: int64

In [21]:
(df_customer_loyalty_history.isnull().sum()/df_customer_loyalty_history.shape[0]*100) # Para comprobar el % de nulos

Loyalty Number         0.000000
Country                0.000000
Province               0.000000
City                   0.000000
Postal Code            0.000000
Gender                 0.000000
Education              0.000000
Salary                25.321145
Marital Status         0.000000
Loyalty Card           0.000000
CLV                    0.000000
Enrollment Type        0.000000
Enrollment Year        0.000000
Enrollment Month       0.000000
Cancellation Year     87.650117
Cancellation Month    87.650117
dtype: float64

In [22]:
df_customer_loyalty_history.duplicated().sum()

0

In [23]:
df_customer_loyalty_history.describe().T # los datos de las columnas en las que hay nulos son de carácter numérico "Salary", "Cancellation Year" y "Cancellation Month" y el resto son de carácter categórico por lo que se sacaría poniendo describe(include="O").T

,count,mean,std,min,25%,50%,75%,max
Loyalty Number,16737.0,549735.880445,258912.132453,100018.00,326603.00,550434.00,772019.00,999986.00
Salary,12499.0,79245.609409,35008.297285,-58486.00,59246.50,73455.00,88517.50,407228.00
CLV,16737.0,7988.896536,6860.982280,1898.01,3980.84,5780.18,8940.58,83325.38
Enrollment Year,16737.0,2015.253211,1.979111,2012.00,2014.00,2015.00,2017.00,2018.00
Enrollment Month,16737.0,6.669116,3.398958,1.00,4.00,7.00,10.00,12.00
Cancellation Year,2067.0,2016.503145,1.380743,2013.00,2016.00,2017.00,2018.00,2018.00
Cancellation Month,2067.0,6.962748,3.455297,1.00,4.00,7.00,10.00,12.00

In [24]:
# Valores nulos de la columna "Salary":

In [25]:
# df_customer_loyalty_history["Salary"].isnull().sum() # al devolver 0 significa que todos los valores nulos han sido reemplazados correctamente

In [26]:
# En "Salary", hay datos positivos y negativos, por lo que hay que convertir todos los valores negativos en su equivalente positivo -> abs

# df_customer_loyalty_history["Salary"] = df_customer_loyalty_history["Salary"].abs()

In [27]:
# (df_customer_loyalty_history["Salary"] < 0).sum() # verifico si quedan valores negativos y al ser 0, veo que no

In [28]:
# df_customer_loyalty_history.head()

In [29]:
# Valores nulos de las columnas "Cancellation Year" y "Cancellation Month"
# voy a convertir las columnas de "Cancellation Month" y "Cancellation Year" en una columna llamada "Cancellation Status":
def status_cancellation(df, columnas):
    for col in columnas:
        df[f'Cancellation Status'] = df[col].apply(lambda x: 'inactivo' if x == x else 'activo')
    return df

In [30]:
df_customer_loyalty_history = status_cancellation(df_customer_loyalty_history, ['Cancellation Month'])

In [31]:
df_customer_loyalty_history.head() # nos enseña que en los espacios de las columnas "Cancellation" los Nan es que sigue la membresía en activo y los inactivos es porque se dieron de baja en ese año y mes

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month,Cancellation Status
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,activo
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN,activo
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0,inactivo
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN,activo
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN,activo

In [32]:
# comparacion_colum_educacion_salario = df_customer_loyalty_history[['Education', 'Salary']]
# comparacion_colum_educacion_salario

In [33]:
# Valores nulos de la columna "Salary": Voy a rellenar los valores nulos con la mediana que existe en la columna de "Education" porque todos los "Colleges" son los que salen nulos.
# Así mismo, metemos 'High School y Bachelor' porque son los valores que más se aproximarían al valor del salario de los colleges, los demás se alejan demasiado

mediana_salario = df_customer_loyalty_history[df_customer_loyalty_history['Education'].isin(['High School or Below', 'Bachelor'])]['Salary'].median()
mediana_salario

70867.0

In [34]:
# Relleno los valores nulos de la columna 'Salary'
df_customer_loyalty_history['Salary'].fillna(mediana_salario, inplace=True)

In [35]:
df_customer_loyalty_history.head()

,Loyalty Number,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month,Cancellation Status
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN,activo
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,70867.0,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN,activo
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,70867.0,Single,Star,3839.75,Standard,2014,7,2018.0,1.0,inactivo
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,70867.0,Single,Star,3839.75,Standard,2013,2,NaN,NaN,activo
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN,activo

In [36]:
# Voy a combinar los dos datasets por medio de la columna loyalty number que es la columna que tienen ambos df en común
df_merged = df_customer_flight_activity.merge(df_customer_loyalty_history, on="Loyalty Number", how="outer") # con el outer para no perder datos

In [37]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   Loyalty Number               405624 non-null  int64
 1   Year                         405624 non-null  int64
 2   Month                        405624 non-null  int64
 3   Flights Booked               405624 non-null  int64
 4   Flights with Companions      405624 non-null  int64
 5   Total Flights                405624 non-null  int64
 6   Distance                     405624 non-null  int64
 7   Points Accumulated           405624 non-null  float64
 8   Points Redeemed              405624 non-null  int64
 9   Dollar Cost Points Redeemed  405624 non-null  int64
 10  Country                      405624 non-null  object
 11  Province                     405624 non-null  object
 12  City                         405624 non-null  object
 13  Postal Code                  405624 non-null  object
 14  Gender                       405624 non-null  object
 15  Education                    405624 non-null  object
 16  Salary                       405624 non-null  float64
 17  Marital Status               405624 non-null  object
 18  Loyalty Card                 405624 non-null  object
 19  CLV                          405624 non-null  float64
 20  Enrollment Type              405624 non-null  object
 21  Enrollment Year              405624 non-null  int64
 22  Enrollment Month             405624 non-null  int64
 23  Cancellation Year            50064 non-null   float64
 24  Cancellation Month           50064 non-null   float64
 25  Cancellation Status          405624 non-null  object
dtypes: float64(5), int64(11), object(10)
memory usage: 80.5+ MB

In [38]:
df_merged.sample(50)

,Loyalty Number,Year,Month,Flights Booked,Flights with Companions,Total Flights,Distance,Points Accumulated,Points Redeemed,Dollar Cost Points Redeemed,Country,Province,City,Postal Code,Gender,Education,Salary,Marital Status,Loyalty Card,CLV,Enrollment Type,Enrollment Year,Enrollment Month,Cancellation Year,Cancellation Month,Cancellation Status
224222,598258,2018,3,0,0,0,0,0.00,0,0,Canada,British Columbia,Victoria,V10 6T5,Female,Bachelor,88759.0,Married,Aurora,5256.92,Standard,2015,3,2016.0,11.0,inactivo
171593,481860,2018,6,0,0,0,0,0.00,0,0,Canada,Ontario,Thunder Bay,K8T 5M5,Female,Bachelor,61419.0,Married,Aurora,10524.71,Standard,2017,12,NaN,NaN,activo
236613,623327,2018,10,10,0,10,1460,146.00,0,0,Canada,Ontario,Toronto,P1W 1K4,Male,Bachelor,84782.0,Married,Nova,8414.94,Standard,2017,6,NaN,NaN,activo
51275,213086,2018,12,10,5,15,3840,384.00,687,55,Canada,Quebec,Montreal,H2T 9K8,Female,Bachelor,97825.0,Married,Nova,2861.72,Standard,2014,10,NaN,NaN,activo
121311,370660,2018,4,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V1E 4R6,Female,Bachelor,52455.0,Married,Star,2499.50,2018 Promotion,2018,4,NaN,NaN,activo
163299,463890,2017,4,0,0,0,0,0.00,0,0,Canada,British Columbia,Victoria,V10 6T5,Female,Bachelor,92469.0,Single,Star,4794.96,Standard,2012,5,NaN,NaN,activo
38820,187175,2018,1,0,0,0,0,0.00,0,0,Canada,Manitoba,Winnipeg,R6Y 4T5,Male,College,70867.0,Married,Nova,12564.07,Standard,2014,12,NaN,NaN,activo
110703,347013,2018,5,15,0,15,3840,384.00,0,0,Canada,Quebec,Quebec City,G1B 3L5,Male,Bachelor,-39503.0,Married,Nova,6446.71,2018 Promotion,2018,3,NaN,NaN,activo
366736,913340,2018,4,1,1,2,872,93.96,338,28,Canada,Saskatchewan,Regina,S1J 3C5,Male,Bachelor,51001.0,Married,Star,2619.87,Standard,2012,6,NaN,NaN,activo
294759,750974,2018,5,0,0,0,0,0.00,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Bachelor,63654.0,Married,Star,2731.40,Standard,2016,10,NaN,NaN,activo
277957,715689,2018,1,0,0,0,0,0.00,0,0,Canada,New Brunswick,Fredericton,E3B 2H2,Male,College,70867.0,Married,Nova,3683.79,Standard,2016,3,NaN,NaN,activo
212939,573290,2017,11,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Female,Bachelor,55913.0,Married,Nova,2877.35,2018 Promotion,2018,4,NaN,NaN,activo
131533,394167,2018,5,11,3,14,2296,229.00,438,36,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,70867.0,Single,Nova,5439.34,Standard,2014,8,NaN,NaN,activo
392876,970195,2018,8,16,4,20,2080,208.00,0,0,Canada,Quebec,Montreal,H2T 9K8,Male,Bachelor,56182.0,Single,Star,20380.07,Standard,2017,2,NaN,NaN,activo
387940,960253,2017,5,0,0,0,0,0.00,0,0,Canada,Ontario,Sudbury,M5V 1G5,Male,College,70867.0,Single,Star,4222.98,Standard,2018,8,NaN,NaN,activo
341792,856364,2017,4,4,1,5,2665,266.00,535,43,Canada,Quebec,Montreal,H2Y 4R4,Female,Bachelor,69098.0,Married,Nova,8092.88,Standard,2016,11,NaN,NaN,activo
156,100364,2018,2,0,0,0,0,0.00,0,0,Canada,Saskatchewan,Regina,S6J 3G0,Male,Bachelor,76849.0,Married,Nova,5143.88,Standard,2015,5,NaN,NaN,activo
280893,722518,2017,3,4,3,7,770,77.00,540,44,Canada,British Columbia,Vancouver,V5R 1W3,Female,Bachelor,61836.0,Married,Star,2956.36,Standard,2017,1,NaN,NaN,activo
292942,747571,2018,11,12,0,12,3132,313.00,0,0,Canada,Quebec,Hull,J8Y 3Z5,Female,Bachelor,49371.0,Married,Star,2556.61,Standard,2013,1,NaN,NaN,activo
286409,734192,2018,6,13,0,13,4459,445.00,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,High School or Below,65673.0,Single,Star,4605.04,Standard,2016,1,NaN,NaN,activo
89733,300371,2018,9,15,2,17,1479,147.00,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Female,Bachelor,74099.0,Divorced,Aurora,30909.22,Standard,2014,11,NaN,NaN,activo
125928,380788,2017,2,3,0,3,657,65.00,0,0,Canada,Quebec,Montreal,H2Y 2W2,Female,Bachelor,98888.0,Married,Nova,18938.54,Standard,2016,2,2018.0,2.0,inactivo
6011,113529,2017,12,0,0,0,0,0.00,0,0,Canada,Ontario,Toronto,P1L 8X8,Male,Bachelor,76548.0,Married,Nova,5953.21,Standard,2018,6,NaN,NaN,activo
185201,511342,2018,7,14,8,22,2904,290.00,0,0,Canada,Ontario,Toronto,P1W 1K4,Female,College,70867.0,Single,Star,4566.38,Standard,2016,11,NaN,NaN,activo
391944,969053,2017,1,3,0,3,756,75.00,0,0,Canada,Quebec,Montreal,H2Y 4R4,Male,Bachelor,76161.0,Married,Star,2619.03,Standard,2016,10,NaN,NaN,activo
269067,696444,2017,4,1,0,1,949,94.00,0,0,Canada,Quebec,Quebec City,G1B 3L5,Male,Bachelor,48590.0,Married,Star,15042.58,Standard,2013,11,NaN,NaN,activo
329960,831404,2017,2,5,5,10,2040,204.00,342,28,Canada,Saskatchewan,Regina,S6J 3G0,Male,Bachelor,102659.0,Married,Nova,8272.33,Standard,2013,6,NaN,NaN,activo
316729,800016,2017,2,10,1,11,2365,236.00,0,0,Canada,Ontario,Toronto,P1W 1K4,Female,Bachelor,54792.0,Divorced,Star,5205.75,Standard,2016,12,NaN,NaN,activo
90159,300964,2018,5,8,7,15,2640,264.00,0,0,Canada,Newfoundland,St. John's,A1C 6H9,Male,Bachelor,57033.0,Married,Nova,9035.67,Standard,2014,2,NaN,NaN,activo
178656,496371,2017,1,0,0,0,0,0.00,0,0,Canada,Alberta,Calgary,T3E 2V9,Male,Bachelor,101226.0,Married,Star,5457.34,Standard,2013,10,NaN,NaN,activo
23749,153626,2018,3,0,0,0,0,0.00,0,0,Canada,Quebec,Quebec City,G1B 3L5,Female,Bachelor,54633.0,Married,Star,2489.39,Standard,2012,7,NaN,NaN,activo
378284,939683,2018,9,0,0,0,0,0.00,0,0,Canada,Ontario,Toronto,P5S 6R4,Female,Master,112860.0,Divorced,Nova,2867.31,Standard,2012,7,NaN,NaN,activo
117579,362471,2017,4,6,0,6,1068,106.00,0,0,Canada,Ontario,Kingston,M9K 2P4,Female,Bachelor,74049.0,Divorced,Aurora,13009.24,Standard,2014,4,NaN,NaN,activo
173509,485742,2018,2,3,0,3,516,55.08,0,0,Canada,Yukon,Whitehorse,Y2K 6R0,Male,College,70867.0,Single,Star,6560.82,Standard,2012,9,NaN,NaN,activo
215315,577386,2018,1,0,0,0,0,0.00,0,0,Canada,Ontario,London,M5B 3E4,Male,Doctor,216512.0,Married,Nova,3708.81,Standard,2015,10,NaN,NaN,activo
57144,227398,2017,1,0,0,0,0,0.00,0,0,Canada,Ontario,Toronto,M2M 7K8,Male,Bachelor,52220.0,Married,Aurora,16464.37,Standard,2018,5,NaN,NaN,activo
167430,472674,2017,7,0,0,0,0,0.00,0,0,Canada,Alberta,Banff,T4V 1D4,Male,Bachelor,53529.0,Divorced,Star,4076.63,Standard,2013,12,NaN,NaN,activo
40071,190236,2018,2,0,0,0,0,0.00,0,0,Canada,British Columbia,Kelowna,V09 2E9,Male,Bachelor,59867.0,Married,Star,5479.85,Standard,2014,4,NaN,NaN,activo
2949,106444,2018,9,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V5R 1W3,Male,College,70867.0,Divorced,Aurora,8447.80,Standard,2017,12,NaN,NaN,activo
189747,521225,2017,4,8,5,13,2340,234.00,0,0,Canada,Ontario,Ottawa,K1G 4Z0,Female,Master,102782.0,Divorced,Aurora,10408.97,Standard,2013,10,NaN,NaN,activo
176981,492505,2017,7,0,0,0,0,0.00,0,0,Canada,Ontario,Toronto,P1L 8X8,Male,Bachelor,69483.0,Divorced,Aurora,19927.64,Standard,2013,5,NaN,NaN,activo
99827,323720,2018,1,0,0,0,0,0.00,0,0,Canada,Ontario,Toronto,M1R 4K3,Female,Bachelor,78690.0,Divorced,Star,16706.12,Standard,2015,1,NaN,NaN,activo
311728,789190,2018,5,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Female,Bachelor,77663.0,Married,Nova,3824.43,Standard,2013,2,NaN,NaN,activo
233418,616522,2018,7,0,0,0,0,0.00,0,0,Canada,Nova Scotia,Halifax,B3C 2M8,Male,Bachelor,61070.0,Divorced,Star,5217.51,Standard,2018,12,NaN,NaN,activo
182398,504260,2018,11,0,0,0,0,0.00,0,0,Canada,Alberta,Calgary,T3E 2V9,Male,College,70867.0,Married,Star,25755.28,Standard,2013,11,NaN,NaN,activo
314924,795840,2018,10,0,0,0,0,0.00,0,0,Canada,Ontario,London,M5B 3E4,Male,College,70867.0,Single,Aurora,11436.43,2018 Promotion,2018,3,2018.0,4.0,inactivo
172659,484225,2017,4,0,0,0,0,0.00,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Male,Bachelor,48337.0,Single,Star,8439.62,Standard,2018,10,NaN,NaN,activo
364892,909068,2018,9,13,2,15,1905,190.00,0,0,Canada,British Columbia,Vancouver,V6E 3D9,Male,Bachelor,57753.0,Married,Star,19185.07,2018 Promotion,2018,3,NaN,NaN,activo
382227,948616,2017,3,14,0,14,3822,382.00,0,0,Canada,British Columbia,Kelowna,V09 2E9,Male,College,70867.0,Single,Aurora,7542.71,Standard,2013,2,NaN,NaN,activo
404538,997439,2018,5,15,0,15,4035,403.00,0,0,Canada,Ontario,Toronto,M2Z 4K1,Male,Master,118530.0,Single,Nova,3600.93,Standard,2014,11,NaN,NaN,activo